body {
  margin: 0;
  background-color: #e0e0e0;
  font-family: 'Ubuntu', sans-serif;
}

.header-logo {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}

.header {
  height: 63px;

  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.index-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 2%;
  height: 60px;
  align-content: flex-end;
  flex-wrap: wrap;
}

.contact-ftr,
.social-icons {
  align-items: center;
}
.copy_right-ftr {
  padding-bottom: 10px;
  text-align: center;
}
.copy_right-p {
  font-size: 10px;
  margin: 0;
}
.login-tag {
  margin-right: 2%;
}
.logo-img {
  margin-left: 1%;
  width: 60px;
}

.header,
.footer {
  background-color: #bc8f8f;
}

.delhi-img,
.goa-img,
.hyderabad-img,
.kolkata-img {
  height: 150px;
  width: 150px;
}

.social-icon {
  height: 20px;
  width: 22px;
  /* margin-right: 2%; */
}

.main-container {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 7rem;
}
/* 
.contact_us {
  margin-left: 2%;
} */

.checked {
  color: orange;
}

@media screen and (max-device-width: 576px) {
  footer {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    height: 90px;
    position: fixed;
    width: 100%;
    bottom: 0px;
  }

  footer .btn {
    width: 105px;
    height: 35px;
  }
  footer p {
    position: absolute;
    left: 38%;
    /* float: center; */
    font-size: 10px;
    top: 5px;
  }
}
