.main-img {
  height: 350px;
  width: 500px;
}

.content {
  padding-top: 5rem;
}

.content-redisson-img {
  margin: 0 4% 0 4%;
}

.content-redisson-img {
  /* margin-top: 2%; */
  margin-left: 2%;
  /* margin-right: 4%; */
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_form-container {
  margin: 2% 4% 1%;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  height: 465px;
}

.hotel_description {
  margin: 1% 4% 2%;
}

.content-redisson-img {
  text-align: center;
  width: 75%;
}
.form-container {
  height: 100%;
  width: 25%;
  border-left: 1px solid black;
}

.details-form {
  /* margin: 1rem auto;
  display: flex;
  height: 100%;
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  */
  margin: 1rem 1rem;
  /* display: flex; */
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-around;
}
span {
  display: block;
  overflow: hidden;
  padding: 0px 0px 19px 50px;
}

input {
  float: left;
  width: 70%;
}

label {
  float: left;
}

.btn-book-now {
  margin-left: 6rem;
  width: 7rem;
  padding: 0.6rem;
}
.p-tag {
  font-weight: bold;
  font-family: cursive;
}

.fa {
  padding: 0;
}

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
  article {
    margin-top: 14%;
    margin-bottom: 6%;
  }
  article .img-part {
    /* margin-top: 2%; */
    /* margin-left: 2%; */
    /* margin-right: 4%; */
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article img {
    height: 200px;
    width: 30%;
    z-index: -1;
  }
  article .desc-part {
    margin-right: 2%;
    /* margin-left: 4%; */
    border: 1px solid black;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-device-width: 576px) {
  article {
    height: 1250px;
  }
  article .img-part {
    margin-top: 30px;
  }
  article img {
    height: 200px;
    width: 100%;
    z-index: -1;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  article .desc-part {
    margin-top: 50px;
    width: 400px;
  }
  article .description {
    margin-top: 300px;
  }
}
