.redisson-img {
    height: 500px;
    width: 500px;
}

body {
    background-color: #e0e0e0;
}

.content-redisson-img {
    margin: 2% 4% 0 4%;
}

.details_form-container {
    margin: 0 4% 1%;
}

.hotel_discription {
    margin: 1% 4% 2%;
}