.img-container {
  position: relative;
  width: auto;
}

.core-img {
  display: flex;
  align-items: center;  
  justify-content: space-evenly;
  padding: 4% 0%;
}

.city-image {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  box-shadow: 10px 10px 10px grey;
}

.img-container:hover .overlay {
  opacity: 1;
}

#view-more {
  margin-bottom: 7%;
  display: flex;
  justify-content: center;
}

#view-more-city-cards {
  display: none;
}

.core_main-img {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 25%;
  box-shadow: 10px 10px 10px grey;
}

.overlay {
  border-radius: 25%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(40, 40, 40, 0.613);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .overlay {
  opacity: 1;
}

.search-bar {
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* align-content: space-around; */
}

.search_bar {
  height: 7%;
  outline: none;
  border: 1px #ffffff00;
  background-color: #f1f1f1;
  padding-left: 10px;
  font-size: 16px;
  width: 30%;
  border-radius: 12px;
}

.btn-view {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}

/* .content {
  padding-top: 3.9rem;
} */
/* 
#none {
  display: none;
} */