body {
    background-color: #e0e0e0;
}

.hotel-img {
    height: 250px;
    width: 250px;
}

.hotel-redisson,
.hotel-lalit,
.hotel-taj {
    margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 40%;
    height: auto;
}