.loader {
    width: 70px;
    height: 70px;
    align-items: center;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #444444;
}

.main-container {
    display: flex;
    margin: 20%;
}