.radisson-img {
  height: 500px;
  width: 500px;
}
.content {
  padding-top: 5rem;
}
.content-details {
  background-color: rgb(132, 136, 139);
  width: 50%;
  height: 20%;
  margin: 2% auto;
}

.hotel-book-details {
  margin: 2%;
}

.tariff-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
}
